<?xml version="1.0" encoding="utf-8" ?>
<!-- Copyright 2026 OpenSynergy Indonesia
     Copyright 2026 PT. Simetri Sinergi Indonesia
     License AGPL-3.0 or later (http://www.gnu.org/licenses/agpl). -->
<odoo>
<menuitem
        id="menu_virtual_account_configuration"
        name="Virtual Account"
        parent="ssi_financial_accounting.menu_financial_accounting_configuration"
        sequence="240"
    />
</odoo>
